

p{
    font: Roboto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 28.13px;
    width:930px;
    height: 320px;
    left: -349px;
    top: -2884px;
    padding-left: 71px;
}
h1{ 
    font: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 58px;
    line-height: 84.38px;
    width: 905px;
    height: 80;
    top: 179px;
    left: 71px;
    padding-left: 71px;
    color:#949ACB;
}
.card{
    margin: 2px auto;
    height: fit-content;
    background-color: #CACDE5;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}    
.bg{
    
}
.bg h1{
    margin-left: 02px;
    padding-left: 02px;
}
#bg_Header
{
   
    width:100%;
}
#bg_Img{
    width:30%;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 1000px;
    background-color: #CACDE5;
}
#bg_Content{
    width: 10%;
    margin-right: 210px;
    margin-top:0px;
    padding-top: 0px;
    
}


