* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}



.text-xs-center {
  align-items: center;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
.footer-bottom{
  display: absolute;
  bottom: 0;
  margin: 20px;
  background-color: #b2b7dd;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  margin-left: -10px;
  margin-right: -10px;
  overflow-y:visible;
}
.footer-bottom p{
  padding: 10px;
}
.end {
  display: flex;
  justify-content: center;
}



@media screen and (max-width:450px) {
  .footer-bottom{
    font-size: 5vw;
  }


}
.mail_id{
  text-decoration: none;
  color: black
}
