
.dropdown{
    display: none;
}
.navbarComponent{
    position: relative;
    left: -5px;
}
.dropdown li{
    display: flex;
    flex-direction: column;
}

.navbar:hover .dropdown{
    display: flex;
    flex-direction: column;
    position: absolute;
}
.horizontal-list::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #949ACB;
    transition: all 0.5s linear;
    border-radius: 2px;
}
.horizontal-list{
    list-style:none;
    padding-left: 0px;
    font-size: 20px;
    margin: 0px;
    /* background-color: ; */
}

.horizontal-list li{
    display: inline-block;
    margin: 8px ;
}
.nav-menu li a{
    color: black;
    text-decoration: none ;
    position: relative;
    width: fit-content;
}

.nav-menu li a:hover{
    color: #ffffff;
    /* border-bottom: 1px solid black; */
}
.nav-menu li a::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0%;
    z-index: -1;
    width: 0%;
    height: 100%;
    background-color: #949ACB;
    transition: all 0.5s linear;
    border-radius: 2px;
}

.nav-menu li a:hover::before{
    width: 100%;
    background-color: #3C4270;
}

.text-center{
    text-align: center;
}
.navbarsubcomp{
    text-align: start;
    margin: 0.1rem;
    width: fit-content;
}