* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.timeline {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0px auto;
  padding: 3rem 4rem 3rem 4rem;
  /* margin-top: 5rem; */
  /* padding-right: 4rem;
  padding-left: 4rem; */
  /* margin-bottom: 3rem; */
  /* position: center; */
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.theading {
  position: relative;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 84px;
  color: #949acb;
  z-index: 1;
}

.schedule{
  position: relative;
  justify-content: center;
  width: 100%;
  height: fit-content;
  padding: 0px 1rem 0px 1rem; 
}

.tcards{
  position: relative;
  justify-content: center;
  width: 100%;
}

.tcard{
  width: 100%;
  border-radius: 15px;
  padding: 2rem 2rem 2rem 2rem;
  margin: 2rem 0px 2rem 0px;
  filter: drop-shadow(4px 8px 10px #949ACB);
  height: 100px;
  background: #CACDE5;
  height: fit-content;   
}

.timeline-date-text{
  text-align: left;
  padding-left: 2rem;
  display: flex;
  flex-direction: row;
  width: auto;
  overflow: hidden;
}

.tdate{
font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 36px;
width: 25%;
margin: auto;
/* width: fit-content; */
justify-content: center;
}

.ttext{
font-family: sans-serif;
font-style: normal;
font-weight: 500;
font-size: 36px;
/* width: fit-content; */
width: 75%;
justify-content: center;
margin: auto;
/* text-align: left; */
padding-left: 5rem;
/* border-left: 5px solid #949ACB; */
}

@media (max-width: 2300px){
  .ttext{
    font-weight: 500;
    font-size: 36px;
    padding-left: 0.5rem;
    width: 60%;
    }

    .tdate{
      font-weight: 500;
      font-size: 36px;
      width: 40%;
      }
}

@media (max-width: 1770px){

    .ttext{
      font-weight: 500;
      font-size: 36px;
      padding-left: 0.5rem;
      width: 60%;
      }

      .tdate{
        font-weight: 500;
        font-size: 36px;
        width: 40%;
        }

      .timeline-date-text{
        text-align: left;
        padding-left: 0rem;
        display: flex;
        flex-direction: row;
        width: auto;
        overflow: hidden;
      }

      .timeline{
        width: 75%;
      }
    
}

@media(max-width: 1600px){
  .timeline{
    width: 80%;
  }
}

@media(max-width: 1530px){
  .timeline{
    width: 85%;
  }
}

@media(max-width: 1470px){
  .timeline{
    width: 90%;
  }
}

@media(max-width: 1340px){
  .timeline{
    width: 95%;
  }

  .ttext{
    font-weight: 500;
    font-size: 33px;
    padding-left: 0.5rem;
    width: 60%;
    }

    .tdate{
      font-weight: 500;
      font-size: 33px;
      width: 40%;
      }
}

@media(max-width: 1310px){
  .timeline{
    width: 95%;
  }
}

@media(max-width: 1200px){
  .timeline{
    width: 98%;
  }

  .ttext{
    font-weight: 500;
    font-size: 30px;
    padding-left: 0.5rem;
    width: 60%;
    }

    .tdate{
      font-weight: 500;
      font-size: 30px;
      width: 40%;
      }
}

@media(max-width: 1070px){
  .timeline{
    width: 98%;
    padding: 3rem 2rem 3rem 2rem;
  }
}

@media(max-width: 1000px){
  .timeline{
    width: 98%;
    padding: 3rem 0rem 3rem 0rem;
  }

  .ttext{
    font-weight: 500;
    font-size: 27px;
    padding-left: 0.5rem;
    width: 60%;
    }

    .tdate{
      font-weight: 500;
      font-size: 27px;
      width: 40%;
      }
}

@media(max-width: 860px){
  .timeline{
    width: 98%;
    padding: 3rem 0rem 3rem 0rem;
  }

  .ttext{
    font-weight: 500;
    font-size: 24px;
    padding-left: 0.5rem;
    width: 60%;
    }

    .tdate{
      font-weight: 500;
      font-size: 24px;
      width: 40%;
      }
}

@media(max-width: 810px){
  .timeline{
    width: 100%;
    padding: 3rem 0rem 3rem 0rem;
  }

  .ttext{
    font-weight: 500;
    font-size: 21px;
    padding-left: 0.5rem;
    width: 60%;
    }

    .tdate{
      font-weight: 500;
      font-size: 21px;
      width: 40%;
      }

      .theading{
        font-size: 60px;

      }
}

@media(max-width: 710px){
  .timeline{
    width: 100%;
    padding: 3rem 0rem 3rem 0rem;
  }

  .schedule{
    padding: 0;
  }

  .ttext{
    font-weight: 500;
    font-size: 21px;
    padding-left: 0.5rem;
    width: 60%;
    }

    .tdate{
      font-weight: 500;
      font-size: 21px;
      width: 40%;
      }
}

@media (max-width: 600px){
  .timeline-date-text{
    text-align: left;
    padding-left: 0rem;
    display: flex;
    flex-direction: row;
    width: auto;
    overflow: hidden;
  }

  .ttext{
    font-weight: 500;
    font-size: 21px;
    padding-left: 0.5rem;
    width: 60%;
    /* text-align: center; */
    }

    .tdate{
      font-weight: 500;
      font-size: 21px;
      width: 40%;
      }


    .schedule{
      position: relative;
      justify-content: center;
      width: 100vw;
      height: fit-content;
      padding: 0px 0rem 0px 0rem; 
    }

    /* .timeline {
     
      height: 100%;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    
      padding-top: 1.5rem;
      margin-top: 1.5rem;
      padding-right: 0rem;
      padding-left: 0rem;
      margin-bottom: 1.5rem;
      position: center;
      justify-content: center;
      overflow: hidden;
    } */
    
}



/* @media (max-width: 1200px){
  .tdate{
    font-weight: 500;
    font-size: 30px;
    }

    .ttext{
      font-weight: 500;
      font-size: 30px;
      padding-left: 0rem;
      }
    
} */

/* @media (max-width: 1100px){
  .tdate{
    font-weight: 500;
    font-size: 27px;
    }

    .ttext{
      font-weight: 500;
      font-size: 27px;
      padding-left: 4rem;
      }
} */

/* @media (max-width: 920px){
  .tdate{
    font-weight: 500;
    font-size: 24px;
    }

    .ttext{
      font-weight: 500;
      font-size: 24px;
      padding-left: 3rem;
      }

    .heading {
      font-size: 60px;
      line-height: 84px;
    } 
} */

/* @media (max-width: 660px){
  .tdate{
    font-weight: 500;
    font-size: 21px;
    }

    .ttext{
      font-weight: 500;
      font-size: 21px;
      padding-left: 2rem;
      }

    .heading {
      font-size: 50px;
      line-height: 84px;
     
    } 
} */










