

.hamburger {
    position: absolute;
    right: 30px; 
    top: 14px; 
    color: #FFFFFF; 
    cursor: pointer;
}

.hamburger:hover {
    color: #3C4270; 
    transition: 0.7s ease-in-out;
}




.topnav {
    display: flex;
    box-sizing: border-box;
    padding-top: 10px;
    overflow: hidden;


    a {
        text-decoration: none;
        margin: 0 10px;
        color: white;
    }


    .dropdown-content{
        display: none;
    }
}


.dropdown:hover {
    
    background-color: #00ADB5;

     .dropbtn {
         color: #CACDE5;         
         transition: 0.3s ease-in-out;
     }
     
    .dropdown-content{
        display: block;
        background-color: #00ADB5;
        transition: 0.5s ease-out;
        position: absolute;
        font-size: 1.5rem;
        //margin-top: 27px; 
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        
    }

    .navbarsubcomp{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #3C4270;
    }

    .navbarsubcomp:first-child {
        display: block;
        margin-top: 10px; 
        padding-top: 15px; 
        color: #3C4270;
    
        // background-color: red;
    }


    .navbarsubcomp:hover{
        color:white;
    }
}


.navbarsubcomp:hover {
   // background-color: white;
    color:#949ACB; 
    transition: 0.3s ease-in-out;
}



@media  screen and (max-width: 900px) {
    
    .topnav {
        flex-direction: column;
        margin-right: 10%;
        font-size: 1.5rem;
        width:100vw;

        a , .dropdown{
            margin: 10px 0 ; 
        }

       
    }

   


    .dropdown:hover {
        
        .dropdown
        {
            display: flex;
            flex-direction: column;

        }

        .dropdown-content{
            position: relative;
            display: block;
        //position: relative;


    }
}
}