*{
    box-sizing: border-box;
}

.carousel-row {
    margin: 10px 10px;

    img {
        border-radius: 10px;
        max-width: 350px;
        max-height: 350px;
    }
}


button.carousel-arrow.block.carousel-prev::before{
    background-color: white;
    border-radius: 50%;
    opacity: 1;
     margin-right: 10px;
    // box-shadow: 5px 10px #888888 ;
    height: 30px;
    width: 30px;
}

button.carousel-arrow.block.carousel-next::before{
    background-color: white;
    border-radius: 50%;
    opacity: 1;
     margin-right: 10px;
    // box-shadow: 5px 10px #888888 ;
    height: 30px;
    width: 30px;
}

//------------sponsors 

.sc-jSFjdj.ipjBfb.sponsors-carousel img {
    max-width: 100px;
    max-height: 100px;
}

//-------------------------banner_logo

.banner_logo {
    width: 70px;
    height: 70px; 
    margin: 0 10px;
}

.banner_image{
    width: 400px;
    background: transparent;
}

.banner_text_container {
    display: flex;
    flex-direction: column;   

    .Banner_date {
        color:#2B2F50; 
        font-size: 2rem; 
    }
    
}

@media screen and (max-width: 1040px) {
    .banner_image {
        width: 350px;
    }

}

// @media screen and (max-width: 500px) {
//    .Banner_date {
//         color:#2B2F50; 
//         font-size: 2rem;
//         color: red; 
//     }
// }

//-----------------------------

.banner_small_text_container {
    text-align: center;
    color: #2B2F50;
}

.small_Banner_date {
    color:#2B2F50; 
}

@media screen and (min-width: 800px) {
    .small_International_conference{
        font-size: 1.7rem;
    }
    
    .small_ProAndCha {
        font-size: 2rem;
    }

    .small_Banner_date {
        font-size: 1.7rem;
    }

}


//---speakers 

.speakers_image {
    max-width: 100px;
    max-height: 100px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin-top: 0px; 
}

.speakers {
    text-align: center;
    font-size: 4rem;
    margin-top: 30px;
}

.markicon {
    margin-left: 90px;
}

.about_the_institute_department {
    font-size: 2.5rem;
}