*{
    box-sizing: border-box;
}

.carousel-row {
    margin: 10px 10px;

    img {
        border-radius: 10px;
        max-width: 350px;
        max-height: 350px;
    }
}


button.carousel-arrow.block.carousel-prev::before{
    background-color: white;
    border-radius: 50%;
    opacity: 1;
     margin-right: 10px;
    // box-shadow: 5px 10px #888888 ;
    height: 30px;
    width: 30px;
}

button.carousel-arrow.block.carousel-next::before{
    background-color: white;
    border-radius: 50%;
    opacity: 1;
     margin-right: 10px;
    // box-shadow: 5px 10px #888888 ;
    height: 30px;
    width: 30px;
}

//------------sponsors 

.sc-jSFjdj.ipjBfb.sponsors-carousel img {
    max-width: 100px;
    max-height: 100px;
}

//-------------------------banner_logo

.banner_logo {
    width: 70px;
    height: 70px; 
    margin: 0 10px;
}

.banner_image{
    width: 400px;
    background: transparent;
}

.banner_text_container {
    display: flex;
    flex-direction: column;   

    .Banner_date {
        color:#2B2F50; 
        font-size: 2rem; 
    }
    
}

@media screen and (max-width: 1040px) {
    .banner_image {
        width: 350px;
    }

}

// @media screen and (max-width: 500px) {
//    .Banner_date {
//         color:#2B2F50; 
//         font-size: 2rem;
//         color: red; 
//     }
// }

//-----------------------------

.banner_small_text_container {
    text-align: center;
    color: #2B2F50;
}

.small_Banner_date {
    color:#2B2F50; 
}

@media screen and (min-width: 800px) {
    .small_International_conference{
        font-size: 1.7rem;
    }
    
    .small_ProAndCha {
        font-size: 2rem;
    }

    .small_Banner_date {
        font-size: 1.7rem;
    }

}


//---speakers 

.speakers_image {
    max-width: 100px;
    max-height: 100px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin-top: 0px; 
}

.speakers {
    text-align: center;
    font-size: 4rem;
    margin-top: 30px;
}

.markicon {
    margin-left: 90px;
}

//----------about insti depart

.about_the_institute_department {
    font-size: 2.5rem;
    text-align: center;
}

//-------------loader 
.preloader_body {
    width:100vw; 
    height: 100vh; 
    background-color: black;
//     background-image: url('https://res.cloudinary.com/manjeetdhayal/image/upload/v1628915759/redsea/NITR_diamondjubilee_logo_jrvjsv.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
}

.load{
    //border: 1px solid #ECF0F1;
    padding: 1px;
    position:absolute;
    top:50%;
    left:50%;
    transform-origin: center center;
    transform:translate(-50%, -50%) rotate(135deg);
    /*change these sizes to fit into your project*/
    width:50px;
    height:50px;
    overflow: hidden;
    
  }
  .load hr{
    border:0;
    margin:0;
    width:30%;
    height:30%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite;
  }
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translateX(200%)}
    25%{transform:translateY(200%)}
    50%{transform:translateX(0)}
    75%{transform:translateY(0)}
  }
