*{
    box-sizing: border-box;
}

.carousel-row {
    margin: 10px 10px;
    overflow-y: hidden;

    img {
        border-radius: 10px;
        max-width: 400px;
        max-height: 400px;
        
    }
}


button.carousel-arrow.block.carousel-prev::before{
    background-color: white;
    border-radius: 50%;
    opacity: 1;
     margin-right: 10px;
    // box-shadow: 5px 10px #888888 ;
    height: 30px;
    width: 30px;
}

button.carousel-arrow.block.carousel-next::before{
    background-color: white;
    border-radius: 50%;
    opacity: 1;
     margin-right: 10px;
    // box-shadow: 5px 10px #888888 ;
    height: 30px;
    width: 30px;
}

//------------sponsors 

.sc-jSFjdj.ipjBfb.sponsors-carousel img {
    max-width: 100px;
    max-height: 100px;
}

//-------------------------banner_logo

.banner_logo {
    width: 70px;
    height: 70px; 
    margin: 0 10px;
}

.banner_image{
    width: 400px;
    background: transparent;
    margin: auto;
}
.banner_image_holder {
    display: flex;
    background-image: url('https://res.cloudinary.com/manjeetdhayal/image/upload/v1629062402/redsea/svg04icpcm_qbo1ly.png');
    background-size: cover;
    background-repeat: round;
    padding: 10px;

}

.banner_image_container {
    display: flex;
    padding: 20px;
    //background-image: url('https://res.cloudinary.com/manjeetdhayal/image/upload/v1629062402/redsea/svg04icpcm_qbo1ly.png');
    background-repeat: space;
    background-size: cover;
    background-position-y: origin;
}

.banner_text_container {
    display: flex;
    flex-direction: column;   

    .Banner_date {
        color:black; 
        font-size: 2rem; 
        font-weight: 1000;
    }
    
}

@media screen and (max-width: 1040px) {
    .banner_image {
        width: 350px;
    }

}

// @media screen and (max-width: 500px) {
//    .Banner_date {
//         color:#2B2F50; 
//         font-size: 2rem;
//         color: red; 
//     }
// }

//-----------------------------

.banner_small_text_container {
    text-align: center;
    color: #2B2F50;
}

.small_Banner_date {
    color:#2B2F50; 
}

@media screen and (min-width: 800px) {
    .small_International_conference{
        font-size: 1.7rem;
    }
    
    .small_ProAndCha {
        font-size: 2rem;
    }

    .small_Banner_date {
        font-size: 1.7rem;
    }

}


//---speakers 

.speakers_image {
    max-width: 100px;
    max-height: 100px;
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    margin-top: 0px; 
}

.speakers {
    text-align: center;
    font-size: 4rem;
    margin-top: 30px;
}

.markicon {
    margin-left: 90px;
}

//----------about insti depart

.about_the_institute_department {
    font-size: 2.5rem;
    text-align: center;
}

//-------------loader 
.preloader_body {
    width:100vw; 
    height: 100vh; 
    background-color: black;
//     background-image: url('https://res.cloudinary.com/manjeetdhayal/image/upload/v1628915759/redsea/NITR_diamondjubilee_logo_jrvjsv.png');
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
}

.load{
    //border: 1px solid #ECF0F1;
    padding: 1px;
    position:absolute;
    top:50%;
    left:50%;
    transform-origin: center center;
    transform:translate(-50%, -50%) rotate(135deg);
    /*change these sizes to fit into your project*/
    width:50px;
    height:50px;
    overflow: hidden;
    
  }
  .load hr{
    border:0;
    margin:0;
    width:30%;
    height:30%;
    position:absolute;
    border-radius:50%;
    animation:spin 2s ease infinite;
  }
  
  .load :first-child{background:#19A68C;animation-delay:-1.5s}
  .load :nth-child(2){background:#F63D3A;animation-delay:-1s}
  .load :nth-child(3){background:#FDA543;animation-delay:-0.5s}
  .load :last-child{background:#193B48}
  
  @keyframes spin{
    0%,100%{transform:translateX(200%)}
    25%{transform:translateY(200%)}
    50%{transform:translateX(0)}
    75%{transform:translateY(0)}
  }

  //----------------Rourkela 
#image_div{
    width: 50vw;
    height: 100%; 
    min-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;

}



@media screen and (max-width: 900px) {
    .Landing_page_background_image{
        height: 600px;
    }
}

@media screen and (max-width: 600px) {
    .Landing_page_background_image{
        height: 400px;
    }
}


.banner_text_container::before{
    content:"";
background: radial-gradient(ellipse at center,  rgba(0,0,0,0.1) 8%,rgba(50,50,50,0.1) 26%,rgba(161,161,161,0) 66%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00ffffff',GradientType=1 ); /* old IE fallback */
  
}


//----conference theme container  mix 

.conference_theme_container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .conference_theme_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
}

.prev_conferences {
    
            background-color:#FEFAEC;
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            align-items: center; 
            transition: 0.2s ease-in-out;
            
     
}

@media screen and (max-width: 900px) {

}

.prev_conference_images {
      
    height: 70vh; 
    width: 60vw; 
    min-width: 60vw;
    min-height: 70vh;
    margin-bottom: 50px;
    

}

.Name_of_conference {
    width: 60vw; 
    min-width: 60vw;
    background-color: #232931;
    color: #EEEEEE;
    text-align: center;
    margin-top: 50px;
    
}

@media screen and (max-width: 900px) {
    .prev_conference_images{
        height: 60vh; 
        width: 60vw; 
        min-width: 60vw;
        min-height: 60vh;
    }
    .Name_of_conference {
        width: 60vw; 
        min-width: 60vw;

    }
}

@media screen and (max-width: 700px) {
    .prev_conference_images{
        height: 70vh; 
        width: 70vw; 
        min-width: 70vw;
        min-height: 70vh;
    }
    .Name_of_conference {
        width: 70vw; 
        min-width: 70vw;

    }
}

@media screen and (max-width: 600px) {
    .prev_conference_images{
        height: 70vh; 
        width: 90vw; 
        min-width: 90vw;
        min-height: 70vh;
    }
    .Name_of_conference {
        width: 90vw; 
        min-width: 90vw;

    }
}

//---------------

.Rourkela_container {
    width: 100%; 
    height: 700px;
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-color:wheat;
    background-attachment: fixed;
    transition: 0.5s ease-in-out;
   
}

.rourkela_name {
    text-align: center;
    margin-right: 30vw;
    font-weight: bolder;
    color: black;
    font-size: 3rem;
    padding: 20px 0; 
    font-weight: 1000;
    
}

.About_rourkela {
    text-align: left;
    margin: 5vw; 
    padding: 0 5vw; 
    font-weight: bold;
    color:rgb(255, 255, 255); 
    font-size: 1.3rem;
}

@media screen and (max-width: 850px) {
    .About_rourkela {
        padding: 1vw; 
        margin: 3vw 1vw;
    }
}

@media screen and (max-width: 600px) {
    .About_rourkela {
        font-size: 1rem;
    }
    .rourkela_name {
        padding-bottom: 5px;
    }
}

//----

.banner_landing_page {
    transition: 0.5s ease-in-out;
}

//===================

// downlaod section 

.download_section {
    background-color: #EDEDED;
}

.download_container {
    background-color: #DA0037;
    width: 70vw;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}


.inner_container {
    display: flex;
    flex-direction: row;
    width: 350px;
    
    padding: 10px;
    
    text-align: center;
    align-items: center;
    //justify-content: center;
    
}

.download_info {
    display: flex;
    flex-direction: column;
    margin: 10px 0; 
    margin-left: 25px;
    font-size: 1.2rem;
    font-weight: bold;
}

.download_info a {
    transition: 0.5s ease-in-out;
    animation: changeBG 0.5s ;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 200;
    background-color: #FFEEDB;
    width: fit-content ; 
    padding: 5px; 
    border-radius: 3px;
    margin-top: 10px;
    color:#39A6A3;
}

.download_info a:hover {
    color: #444444;
}


@keyframes changeBG {
    20% {
        background-color: #faddbc ;
    }

    40% { background-color: #FFEEDB;}
}